// Wandows-ngrmadly theme for libadwaita
// and adw-gtk3 - https://github.com/lassekongo83/adw-gtk3

// THIS THEME IS UNFINISHED, USE AT YOUR OWN RISK

// How to use: https://github.com/lassekongo83/adw-colors

// If you make any modifications to this file you'll have to run:
// sassc -M -t expanded gtk.scss gtk.css
// to generate the css file.

// Gtk color functions
@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

@function gtkmix($c1,$c2,$r) {
  $ratio: 1 -  $r / 100%; // match SCSS mix()
  @return unquote("mix(#{$c1},#{$c2},#{$ratio})");
}

@function gtkshade($c,$s) {
  @return unquote("shade(#{$c},#{$s})");
}

@function gtkcolor($c) {
  @return unquote("@#{$c}");
}

// Color values are set here
@define-color window_bg_color #ebebeb;
@define-color window_fg_color #3f3f3f;
@define-color view_bg_color #ffffff;
@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #0078d4;
@define-color accent_fg_color #ffffff;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color shade(@window_bg_color, 0.96);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @view_bg_color;
@define-color popover_fg_color @view_fg_color;
@define-color card_bg_color @view_bg_color;
@define-color card_fg_color @view_fg_color;
// These variables are the ones we use
$window_bg_color: gtkcolor(window_bg_color);
$window_fg_color: gtkcolor(window_fg_color);
$view_bg_color: gtkcolor(view_bg_color);
$view_fg_color: gtkcolor(view_fg_color);
$accent_bg_color: gtkcolor(accent_bg_color);
$accent_fg_color: gtkcolor(accent_fg_color);
$accent_color: gtkcolor(accent_color);
$headerbar_bg_color: gtkcolor(headerbar_bg_color);
$headerbar_backdrop_color: gtkcolor(headerbar_backdrop_color);
$headerbar_fg_color: gtkcolor(headerbar_fg_color);
$popover_bg_color: gtkcolor(popover_bg_color);
$popover_fg_color: gtkcolor(popover_fg_color);
$card_bg_color: gtkcolor(card_bg_color);
$card_fg_color: gtkcolor(card_fg_color);

// Other variables for this theme
$border_color: gtkalpha(currentColor, .15);
$close_button: #d35f5f;

$headerbar_height: 38px;
$titlebutton_width: $headerbar_height;
$titlebutton_height: $headerbar_height;

// Decoration
window,
decoration,
decoration-overlay {
  outline: none; // GTK4 window outline
  border-radius: 0;
}

// Headerbar
headerbar, .titlebar {
  border-radius: 0;
}

headerbar {
  min-height: $headerbar_height;

  button {
    &:not(.close):not(.maximize):not(.minimize) {
      margin-top: 4px;
      margin-bottom: 4px;
      padding: 2px 4px;
    }

    &.image-button {
      min-width: 22px;
      padding-left: 2px;
      padding-right: 2px;
    }

    &.toggle {
      padding: 0;
    }
  }

  entry {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

// Titlebuttons
windowcontrols > button,
button.titlebutton:not(.appmenu) {
  min-width: $titlebutton_width;
  min-height: $titlebutton_height;
  border-radius: 0;
  padding: 0;
}

button.titlebutton:not(.appmenu) {
  margin: 0 -6px 0 0;
}

windowcontrols button {
  &.close { margin: 0 -6px 0 0; }
  &.maximize, &.minimize {
    margin: 0 -2px 0 0;
  }
}

windowcontrols > button,
button.titlebutton {
  &.close, &.maximize, &.minimize {
    background-color: transparent;
    transition-property: background-color;
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;

    &:backdrop {
      &:hover {
        background-color: gtkshade($headerbar_backdrop_color, 0.9);
      }
      &:not(:hover) {
        opacity: 0.5;
      }
    }
  }

  &.maximize, &.minimize {
    &:hover {
      background-color: $accent_bg_color;
    }
  }

  &.close {
    background-image: url('assets/titlebutton-close.png');

    &:hover {
      background-color: $close_button;
      background-image: url('assets/titlebutton-close-hover.png');
    }

    &:backdrop {
      &:hover {
        background-image: url('assets/titlebutton-close.png');
      }
    }
  }

  &.maximize {
    background-image: url('assets/titlebutton-maximize.png');

    &:hover {
      background-image: url('assets/titlebutton-maximize-hover.png');
    }

    &:backdrop {
      &:hover {
        background-image: url('assets/titlebutton-maximize.png');
      }
    }
  }

  &.minimize {
    background-image: url('assets/titlebutton-minimize.png');

    &:hover {
      background-image: url('assets/titlebutton-minimize-hover.png');
    }

    &:backdrop {
      &:hover {
        background-image: url('assets/titlebutton-minimize.png');
      }
    }
  }
}

headerbar, .titlebar {
  .maximized & {
    button.titlebutton,
    windowcontrols button {
      &.maximize {
        background-image: url('assets/titlebutton-unmaximize.png');

        &:hover {
          background-image: url('assets/titlebutton-unmaximize-hover.png');
        }

        &:backdrop {
          &:hover {
           background-image: url('assets/titlebutton-unmaximize.png');
          }
        }
      }
    }
  }
}

windowcontrols > button {
  padding: 0;
  //margin: 0;
  > image {
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }
}

// Tabs
notebook > header tab:checked.reorderable-page,
tabbar tab:checked {
  background-color: $view_bg_color;
  &:backdrop {
    background-color: $window_bg_color;
  }
}

// Apps
.nautilus-window {
  .path-bar-box,
  .nautilus-path-bar {
    background: none;
  }

  headerbar {
    .linked button.toggle.popup {
      &:not(:hover):not(:active):not(:checked) {
        background: none;
      }
      border: none;
    }
  }
}
