// This file contains the main colors for the theme

@use '../../abstracts/settings' as *;

// Dracula palette
// light theme / dark theme
$red:          #ff5555;
$orange:       #ffb86c;
$yellow:       #f1fa8c;
$green:        #50fa7a;
$blue:         #7fbbb3;
$cyan:         #8be9fd; // sometimes also known as aqua or teal
$purple:       #bd93f9; // sometimes also known as magneta or violet
$pink:         #ff79c6; // sometimes also known as magneta
$slate:        #708089; // sometimes also know as grey or carbon

$bg_primary:   #282a36; // window bg
$fg_primary:   #f8f8f2; // window text

$bg_secondary: #20212b; // textviews and view bg
$fg_secondary: #f8f8f2; // view text

$bg_alt:       #44475a; // Headerbar and sidebars
$bg_alt2:      #4c5065; // Popovers and menus
$fg_alt:       #f8f8f2;
