$titlebutton_width: 18px;
$titlebutton_height: 18px;
$titlebutton_radius: 24px; // The roundness of the titlebutton
$titlebutton_end: 0px; // Increase if you need to put the titlebuttons farther away from the left or right edges
