@define-color window_bg_color #282828;
@define-color window_fg_color #ebdbb2;
@define-color view_bg_color #1d2021;
@define-color view_fg_color #fbf1c7;
@define-color accent_bg_color #e78a4e;
@define-color accent_fg_color white;
@define-color headerbar_bg_color #3c3836;
@define-color headerbar_fg_color #ebdbb2;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color popover_bg_color #504945;
@define-color popover_fg_color @view_fg_color;
@define-color dialog_bg_color #504945;
@define-color dialog_fg_color @view_fg_color;
@define-color card_bg_color #504945;
@define-color card_fg_color @view_fg_color;
@define-color sidebar_bg_color #3c3836;
@define-color sidebar_fg_color #ebdbb2;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
@define-color sidebar_border_color rgba(0, 0, 0, 0.36);
@define-color secondary_sidebar_bg_color #282828;
@define-color secondary_sidebar_fg_color @view_fg_color;
@define-color secondary_sidebar_backdrop_color @view_bg_color;
@define-color secondary_sidebar_shade_color rgba(0, 0, 0, 0.25);
@define-color secondary_sidebar_border_color rgba(0, 0, 0, 0.36);
@define-color destructive_bg_color #ea6962;
@define-color success_bg_color #a9b665;
@define-color warning_bg_color #d8a657;
@define-color error_bg_color #ea6962;
:root {
  --accent-blue: #7daea3;
  --accent-teal: #89b482;
  --accent-green: #a9b665;
  --accent-yellow: #d8a657;
  --accent-orange: #e78a4e;
  --accent-red: #ea6962;
  --accent-pink: #d3869b;
  --accent-purple: #d386cd;
  --accent-slate: #928374;
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;
  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;
  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;
  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-shade-color: @sidebar_shade_color;
  --sidebar-border-color: @sidebar_border_color;
  --secondary-sidebar-bg-color: @secondary_sidebar_bg_color;
  --secondary-sidebar-fg-color: @secondary_sidebar_fg_color;
  --secondary-sidebar-backdrop-color: @secondary_sidebar_backdrop_color;
  --secondary-sidebar-shade-color: @secondary_sidebar_shade_color;
  --secondary-sidebar-border-color: @secondary_sidebar_border_color;
  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;
  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --destructive-bg-color: @destructive_bg_color;
  --success-bg-color: @success_bg_color;
  --warning-bg-color: @warning_bg_color;
  --error-bg-color: @error_bg_color;
}
