/* GTK NAMED COLORS
   ----------------
   use responsibly! */

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using #{$var}.

// These are the colors apps are can override. We define the defaults here and
// define variables for them in _colors.scss

// The main accent color and the matching text value
@define-color accent_bg_color @yaru_accent_bg_color;
@define-color accent_fg_color @light_1;
@define-color accent_color @yaru_accent_bg_color;

// destructive-action buttons
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color @light_1;
@define-color destructive_color @red_4;

// Levelbars, entries, labels and infobars. These don't need text colors
@define-color success_bg_color @green_4;
@define-color success_fg_color @light_1;
@define-color success_color @green_4;

@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color @light_1;
@define-color warning_color @yellow_5;

@define-color error_bg_color @red_4;
@define-color error_fg_color @light_1;
@define-color error_color @red_4;

// Window
@define-color window_bg_color #{if($variant == 'light', #fafafa, lighten(#181818, 8%))};
@define-color window_fg_color #{if($variant=='light', '@dark_3', '@light_2')};

// Views - e.g. text view or tree view
@define-color view_bg_color #{if($variant == 'light', #ffffff, #1e1e1e)};
@define-color view_fg_color #{if($variant == 'light', #000000, #ffffff)};

// Header bar, search bar, tab bar
@define-color headerbar_bg_color #{if($variant == 'light', #ebebeb, #303030)};
@define-color headerbar_fg_color #{if($variant == 'light', transparentize(black, .2), white)};
@define-color headerbar_backdrop_color @window_bg_color;

// Cards, boxed lists
@define-color card_bg_color #{if($variant == 'light', #ffffff, transparentize(white, .92))};
@define-color card_fg_color #{if($variant == 'light', transparentize(black, .2), white)};

// Popovers
@define-color popover_bg_color #{if($variant == 'light', #ffffff, #383838)};
@define-color popover_fg_color #{if($variant == 'light', transparentize(black, .2), white)};