// This file contains the main colors for the theme

@use '../../abstracts/settings' as *;

$red:          #ff5555;
$orange:       #ff806c;
$yellow:       #c88800;
$green:        #3a944a;
$blue:         #007bff;
$cyan:         #1180b2; // also known as aqua or teal
$purple:       #9141ac;
$pink:         #ad3da4;
$slate:        #6f8396; // also know as grey or carbon

$window_bg:    #292a30; // window bg
$window_fg:    #dfdfe0; // window text

$view_bg:      #2f3036; // textviews and view bg
$view_fg:      #dfdfe0; // view text

$header_bg:    #3a3b40; // Headerbar and sidebars
$header_fg:    #dfdfe0;
$menu_bg:      #3a3b40; // Popovers and menus

$muted_red:    #e86150;
$muted_green:  #75c2b3;
$muted_yellow: #d7c781;
