@define-color window_bg_color #1c1d21;
@define-color window_fg_color #eeeeec;
@define-color view_bg_color #121317;
@define-color view_fg_color #ffffff;
@define-color accent_bg_color #4a90d9;
@define-color accent_fg_color #ffffff;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color #26272b;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_shade_color transparent;
@define-color popover_bg_color @headerbar_bg_color;
@define-color popover_fg_color @headerbar_fg_color;
@define-color dialog_bg_color @view_bg_color;
@define-color dialog_fg_color @view_fg_color;
@define-color card_bg_color @view_bg_color;
@define-color card_fg_color @view_fg_color;
@define-color sidebar_bg_color @headerbar_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
button.titlebutton:not(.appmenu) {
  min-width: 20px;
  min-height: 20px;
  padding: 0;
}

button.close.titlebutton:not(.appmenu), button.maximize.titlebutton:not(.appmenu), button.minimize.titlebutton:not(.appmenu) {
  background-color: transparent;
  transition-property: background-color;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1.5px;
  box-shadow: none;
  border-color: transparent;
}

button.close.titlebutton:not(.appmenu) > image, button.maximize.titlebutton:not(.appmenu) > image, button.minimize.titlebutton:not(.appmenu) > image {
  opacity: 0;
}

button.maximize.titlebutton:hover:not(.appmenu), button.minimize.titlebutton:hover:not(.appmenu) {
  background-color: @accent_bg_color;
  box-shadow: none;
}

button.close.titlebutton:not(.appmenu) {
  background-image: url("assets/titlebutton-close.png");
  background-color: #a45f5f;
}

button.close.titlebutton:hover:not(.appmenu) {
  background-color: shade(#a45f5f,1.1);
  box-shadow: none;
}

button.maximize.titlebutton:not(.appmenu) {
  background-image: url("assets/titlebutton-maximize.png");
}

button.maximize.titlebutton:backdrop:hover:not(.appmenu) {
  background-color: shade(@headerbar_backdrop_color,1.2);
}

button.minimize.titlebutton:not(.appmenu) {
  background-image: url("assets/titlebutton-minimize.png");
}

button.minimize.titlebutton:backdrop:hover:not(.appmenu) {
  background-color: shade(@headerbar_backdrop_color,1.2);
}

check {
  border-radius: 0;
}

switch, switch slider {
  border-radius: 0;
}

decoration,
decoration-overlay,
headerbar, .titlebar {
  border-radius: 0;
}

button.titlebutton {
  margin: 4px;
  border: none;
}

.maximized headerbar button.titlebutton.maximize, .maximized .titlebar button.titlebutton.maximize {
  background-image: url("assets/titlebutton-unmaximize.png");
}

notebook > header tab:checked.reorderable-page,
tabbar tab:checked {
  background-color: @view_bg_color;
}

notebook > header tab:checked.reorderable-page:backdrop,
tabbar tab:checked:backdrop {
  background-color: @window_bg_color;
}

.sidebar row.activatable,
.navigation-sidebar row.activatable {
  border-radius: 0;
}

.sidebar row.activatable:selected,
.navigation-sidebar row.activatable:selected {
  box-shadow: inset 0 0 0 1px alpha(@accent_bg_color,0.4);
  background: alpha(@accent_bg_color,0.1);
}

.frame, frame {
  border-radius: 0;
}

button {
  border-radius: 0;
  border-color: alpha(currentColor,0.1);
}

button:hover {
  box-shadow: 0 0 0 2px alpha(@accent_color,0.2);
  border-color: @accent_color;
}

button:checked {
  border-color: alpha(currentColor,0.2);
}

button.osd, button.flat {
  border-color: transparent;
}

treeview.view header button:hover {
  box-shadow: none;
  border-color: alpha(currentColor,0.1);
}

treeview.view header button:checked, treeview.view header button:active {
  border-color: alpha(currentColor,0.2);
}

headerbar button, .titlebar button {
  border-color: transparent;
}

headerbar button:hover, .titlebar button:hover {
  box-shadow: 0 0 0 2px alpha(@accent_color,0.2);
  border-color: @accent_color;
}

headerbar button:checked, .titlebar button:checked {
  border-color: alpha(currentColor,0.2);
}

headerbar .stack-switcher button, .titlebar .stack-switcher button {
  border-color: alpha(currentColor,0.1);
}

headerbar .stack-switcher button:hover, .titlebar .stack-switcher button:hover {
  box-shadow: 0 0 0 2px alpha(@accent_color,0.2);
  border-color: @accent_color;
}

headerbar .stack-switcher button:checked, .titlebar .stack-switcher button:checked {
  border-color: alpha(currentColor,0.2);
}

headerbar .linked button:not(:checked):hover + button, .titlebar .linked button:not(:checked):hover + button {
  border-left-color: @accent_color;
}

spinbutton {
  border-radius: 0;
  box-shadow: none;
  border-color: transparent;
}

entry {
  border-radius: 0;
  border-color: alpha(currentColor,0.1);
}
