@define-color yaru_accent_bg_color #7764D8;
@define-color blue_1 #75d3f4;
@define-color blue_2 #47c4f1;
@define-color blue_3 #19B6EE;
@define-color blue_4 #007aa6;
@define-color blue_5 #335280;
@define-color green_1 #5AED70;
@define-color green_2 #47D35C;
@define-color green_3 #34B948;
@define-color green_4 #219E34;
@define-color green_5 #0e8420;
@define-color yellow_1 #FCCD87;
@define-color yellow_2 #FBC16A;
@define-color yellow_3 #FBB44C;
@define-color yellow_4 #FAA82F;
@define-color yellow_5 #F99B11;
@define-color orange_1 #F29879;
@define-color orange_2 #F08763;
@define-color orange_3 #ED764D;
@define-color orange_4 #EB6536;
@define-color orange_5 #E95420;
@define-color red_1 #EA485C;
@define-color red_2 #DE374C;
@define-color red_3 #D3273B;
@define-color red_4 #c7162b;
@define-color red_5 #a91224;
@define-color purple_1 #924D8B;
@define-color purple_2 #762572;
@define-color purple_3 #77216F;
@define-color purple_4 #5E2750;
@define-color purple_5 #2C001E;
@define-color brown_1 #E1B289;
@define-color brown_2 #C5976E;
@define-color brown_3 #AA7B53;
@define-color brown_4 #8E6038;
@define-color brown_5 #72441D;
@define-color light_1 #FFFFFF;
@define-color light_2 #F7F7F7;
@define-color light_3 #CCC;
@define-color light_4 #AEA79F;
@define-color light_5 #878787;
@define-color dark_1 #666666;
@define-color dark_2 #5D5D5D;
@define-color dark_3 #3D3D3D;
@define-color dark_4 #181818;
@define-color dark_5 #000000;
/* GTK NAMED COLORS
   ----------------
   use responsibly! */
@define-color accent_bg_color @yaru_accent_bg_color;
@define-color accent_fg_color @light_1;
@define-color accent_color @yaru_accent_bg_color;
@define-color destructive_bg_color @red_4;
@define-color destructive_fg_color @light_1;
@define-color destructive_color @red_4;
@define-color success_bg_color @green_4;
@define-color success_fg_color @light_1;
@define-color success_color @green_4;
@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color @light_1;
@define-color warning_color @yellow_5;
@define-color error_bg_color @red_4;
@define-color error_fg_color @light_1;
@define-color error_color @red_4;
popover.menu check,
popover.menu radio {
  transition: none;
}

levelbar > trough > block.high, levelbar > trough > block:not(.empty) {
  background-color: @success_color;
}

button.suggested-action {
  color: @success_fg_color;
}
button.suggested-action:not(.flat),
button.suggested-action:checked:not(.flat) {
  background-color: @success_bg_color;
}
button.flat.suggested-action {
  color: @success_color;
}

splitbutton.suggested-action > button, splitbutton.suggested-action > menubutton > button {
  color: @success_fg_color;
}
splitbutton.suggested-action > button, splitbutton.suggested-action > button:checked, splitbutton.suggested-action > menubutton > button, splitbutton.suggested-action > menubutton > button:checked {
  background-color: @success_bg_color;
}

button,
link {
  font-weight: normal;
}
