@define-color window_bg_color #f5f5f5;
@define-color window_fg_color #363636;
@define-color view_bg_color #ffffff;
@define-color view_fg_color @window_fg_color;
@define-color accent_bg_color #2e78dc;
@define-color accent_fg_color #ffffff;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color shade(@window_bg_color, .96);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color popover_bg_color @view_bg_color;
@define-color popover_fg_color @view_fg_color;
@define-color card_bg_color @view_bg_color;
@define-color card_fg_color @view_fg_color;
button.titlebutton,
windowcontrols > button {
  color: transparent;
  min-width: 16px;
  min-height: 16px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

button.titlebutton:backdrop {
  opacity: 0.5;
}

windowcontrols > button {
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton.close, button.titlebutton.close:hover:backdrop,
windowcontrols > button.close,
windowcontrols > button.close:hover:backdrop {
  background-color: #ff605c;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  background-color: shade(#ff605c,0.9);
}

button.titlebutton.maximize, button.titlebutton.maximize:hover:backdrop,
windowcontrols > button.maximize,
windowcontrols > button.maximize:hover:backdrop {
  background-color: #00ca4e;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  background-color: shade(#00ca4e,0.9);
}

button.titlebutton.minimize, button.titlebutton.minimize:hover:backdrop,
windowcontrols > button.minimize,
windowcontrols > button.minimize:hover:backdrop {
  background-color: #ffbd44;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  background-color: shade(#ffbd44,0.9);
}

button.titlebutton.close:backdrop, button.titlebutton.maximize:backdrop, button.titlebutton.minimize:backdrop,
windowcontrols > button.close:backdrop,
windowcontrols > button.maximize:backdrop,
windowcontrols > button.minimize:backdrop {
  background-color: #c0bfc0;
}

notebook > header tab:not(:backdrop):not(:checked).reorderable-page,
tabbar tab:not(:backdrop):not(:checked) {
  background-color: #e1dfe1;
  box-shadow: none;
  border-bottom: 1px solid alpha(currentColor,0.15);
}

notebook > header tab:hover:not(:backdrop):not(:checked).reorderable-page,
tabbar tab:hover:not(:backdrop):not(:checked) {
  background-color: shade(#e1dfe1,0.96);
}

notebook > header tab:not(:backdrop):checked.reorderable-page,
tabbar tab:not(:backdrop):checked {
  background-color: @view_bg_color;
  box-shadow: none;
  border-bottom: 1px solid alpha(currentColor,0.15);
}

notebook > header tab:backdrop.reorderable-page,
tabbar tab:backdrop {
  box-shadow: none;
  background-color: mix(@window_bg_color,#e1dfe1,0.5);
}

notebook > header tab:checked:backdrop.reorderable-page,
tabbar tab:checked:backdrop {
  background-color: @window_bg_color;
}

tabbar tab {
  border: 0;
}

.nautilus-window .sidebar {
  background-color: mix(@window_bg_color,@view_bg_color,0.5);
}

.nautilus-window .sidebar:backdrop {
  background-color: @window_bg_color;
}
