// This file contains the main colors for the theme

@use '../../abstracts/settings' as *;

$red:          if($variant == 'light', #eb5463, #eb5463);
$orange:       if($variant == 'light', #fa6c51, #fa6c51);
$yellow:       if($variant == 'light', #fdcd56, #fdcd56);
$green:        if($variant == 'light', #9ed26a, #9ed26a);
$cyan:         if($variant == 'light', #46ceac, #46ceac); // also known as aqua or teal
$blue:         if($variant == 'light', #5e9cea, #5e9cea);
$purple:       if($variant == 'light', #ac92ea, #ac92ea); // also known as magneta or violet
$pink:         if($variant == 'light', #eb86be, #eb86be); // also known as magneta
$slate:        if($variant == 'light', #a9b0bb, #a9b0bb); // also know as grey or carbon

$window_bg:    if($variant == 'light', #eff2f3, #30343c); // window bg
$window_fg:    if($variant == 'light', #27292d, #dbdde1); // window text

$view_bg:      if($variant == 'light', #f4f6f8, #272b31); // textviews and view bg
$view_fg:      if($variant == 'light', #1e1f22, #fbfbfc); // view text

$header_bg:    if($variant == 'light', #e4e8eb, #393e47); // Headerbar and sidebars
$header_fg:    if($variant == 'light', #3c4346, #fbfbfc);
$menu_bg:      if($variant == 'light', #f4f6f8, #424852); // Popovers and menus
