// This file contains the main colors for the theme

@use '../../abstracts/settings' as *;

// Solarized palette
// light theme / dark theme
$red:          if($variant == 'light', #dc322f, #dc322f);
$orange:       if($variant == 'light', #cb4b16, #cb4b16);
$yellow:       if($variant == 'light', #b58900, #b58900);
$green:        if($variant == 'light', #859900, #859900);
$blue:         if($variant == 'light', #268bd2, #268bd2);
$cyan:         if($variant == 'light', #2aa198, #2aa198); // also known as aqua or teal
$purple:       if($variant == 'light', #6c71c4, #6c71c4); // also known as magneta or violet
$pink:         if($variant == 'light', #d33682, #d33682); // also sometimes known as magneta
$slate:        if($variant == 'light', #839496, #93a1a1); // also know as grey or carbon

$window_bg:    if($variant == 'light', #eee8d5, #073642); // window bg
$window_fg:    if($variant == 'light', #073642, #eee8d5); // window text

$view_bg:      if($variant == 'light', #fdf6e3, #002b36); // textviews and view bg
$view_fg:      if($variant == 'light', #002b36, #fdf6e3); // view text

$header_bg:    if($variant == 'light', #e8e0c7, #094554); // Headerbar and sidebars
$header_fg:    if($variant == 'light', #002b36, #fdf6e3);
$menu_bg:      if($variant == 'light', #fdf6e3, #0b5365); // Popovers and menus
