/* solarized light colours */
@define-color window_bg_color #eee8d5;
@define-color window_fg_color #586e75;

@define-color accent_color #dbd6c4;
@define-color accent_bg_color #dbd6c4;
@define-color accent_fg_color #073642;

@define-color headerbar_bg_color #f5efde;
@define-color headerbar_fg_color #586e75;
@define-color headerbar_backdrop_color #fdf6e3;

@define-color popover_bg_color #fdf6e3;
@define-color popover_fg_color #073642;

@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;

@define-color view_bg_color #fdf6e3;
@define-color view_fg_color #073642;

@define-color card_bg_color #eee8d5;
@define-color card_fg_color #073642;

@define-color warning_bg_color #CB4B16;
@define-color warning_fg_color #eee8d5;
@define-color warning_color #CB4B16;
@define-color error_bg_color #DC322F;
@define-color error_fg_color #eee8d5;
@define-color error_color #DC322F;
@define-color success_bg_color #859900;
@define-color success_fg_color #eee8d5;
@define-color success_color #859900;
@define-color destructive_bg_color #D33682;
@define-color destructive_fg_color #eee8d5;
@define-color destructive_color #D33682;


