// Colors
:root {
  --accent-bg-color: @accent_bg_color;
  --accent-fg-color: @accent_fg_color;

  --window-bg-color: @window_bg_color;
  --window-fg-color: @window_fg_color;

  --view-bg-color: @view_bg_color;
  --view-fg-color: @view_fg_color;

  --headerbar-bg-color: @headerbar_bg_color;
  --headerbar-fg-color: @headerbar_fg_color;
  --headerbar-border-color: @headerbar_border_color;
  --headerbar-backdrop-color: @headerbar_backdrop_color;
  --headerbar-shade-color: @headerbar_shade_color;

  --sidebar-bg-color: @sidebar_bg_color;
  --sidebar-fg-color: @sidebar_fg_color;
  --sidebar-backdrop-color: @sidebar_backdrop_color;
  --sidebar-border-color: @sidebar_border_color;
  --sidebar-shade-color: @sidebar_shade_color;

  --card-bg-color: @card_bg_color;
  --card-fg-color: @card_fg_color;
  --card-shade-color: @card_shade_color;

  --dialog-bg-color: @dialog_bg_color;
  --dialog-fg-color: @dialog_fg_color;

  --popover-bg-color: @popover_bg_color;
  --popover-fg-color: @popover_fg_color;
  --popover-shade-color: @popover_shade_color;
}

// Decoration
window,
headerbar, .titlebar {
  border-radius: 0;
}

// Titlebuttons
windowcontrols > button {
  margin: 0 5px;
  padding: 0;

  > image {
    min-width: $titlebutton_width;
    min-height: $titlebutton_height;
    margin: 0;
    padding: 0;
  }

  &.maximize, &.minimize {
    &:hover > image {
      background-color: $accent_bg_color;
    }
  }

  &.close, &.maximize, &.minimize {
    > image {
      background-color: transparent;
      transition-property: background-color;
      color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 1.5px;
      box-shadow: none;
      border-color: transparent;
    }
  }

  &.close {
    > image {
      background-image: url('assets/titlebutton-close.png');
      background-color: $close_button;
    }
    &:hover > image {
      background-color: gtkshade($close_button, 1.1);
      box-shadow: none;
    }
  }

  &.maximize {
    > image {
      background-image: url('assets/titlebutton-maximize.png');
    }
    &:backdrop:hover > image {
      background-color: gtkshade($headerbar_backdrop_color, 1.2);
    }
  }

  &.minimize {
    > image {
      background-image: url('assets/titlebutton-minimize.png');
    }
    &:backdrop:hover > image {
      background-color: gtkshade($headerbar_backdrop_color, 1.2);
    }
  }
}

headerbar, .titlebar {
  .maximized & {
    windowcontrols button {
      &.maximize > image {
        background-image: url('assets/titlebutton-unmaximize.png');
      }
    }
  }
}

//windowcontrols {
//  &.end { margin-right: 4px; }
//  &.start { margin-left: 4px; }
//}

// Tabs
notebook > header tab:checked.reorderable-page,
tabbar tab:checked {
  background-color: $view_bg_color;
  &:backdrop {
    background-color: $window_bg_color;
  }
}

// Sidebar rows
.sidebar,
.navigation-sidebar {
  row.activatable {
    border-radius: $button_radius;
    &:selected {
      box-shadow: inset 0 0 0 1px gtkalpha($accent_bg_color, 0.4);
      background: gtkalpha($accent_bg_color, 0.1);
    }
  }
}

// Frames
.frame, frame {
  border-radius: $button_radius;
}

// Buttons
// WIP. There are a lot of buttons to check.
button {
  border-radius: $button_radius;
  box-shadow: inset 0 0 0 1px $button_normal_border;

  &:hover {
    box-shadow: inset 0 0 0 1px $button_inner_hover_border,
                      0 0 0 2px $button_outer_hover_border;
  }

  &:checked {
    box-shadow: inset 0 0 0 1px $button_checked_border;
  }

  &.osd, &.flat {
    box-shadow: none;
  }
}

headerbar, .titlebar {
  button {
    box-shadow: none;
    &:hover {
      box-shadow: inset 0 0 0 1px $button_inner_hover_border,
                        0 0 0 2px $button_outer_hover_border;
    }
  }
  windowcontrols > button {
    &, &:hover, &:checked, &:active {
      box-shadow: none;
      border: none;
    }
  }
  stackswitcher button {
    box-shadow: inset 0 0 0 1px $button_normal_border;
    &:checked {
      box-shadow: inset 0 0 0 1px $button_checked_border;
    }
  }
}

splitbutton {
  border-radius: $button_radius;
  &:hover {
    box-shadow: inset 0 0 0 1px $button_normal_border;
  }
}

spinbutton {
  border-radius: $button_radius;
  button { box-shadow: none; }
}

.linked {
  border-radius: $button_radius;
}

// Entries
entry {
  border-radius: $button_radius;
  box-shadow: inset 0 0 0 1px $button_normal_border;
}

// Apps (Should be avoided)
.nautilus-window headerbar .linked {
  box-shadow: inset 0 0 0 1px $button_normal_border;
}
