// This file contains everything that can be shared between gtk4 and gtk3
// such as color values, mixins, functions, and some css

// Gtk color functions
@function gtkalpha($c,$a) {
  @return unquote("alpha(#{$c},#{$a})");
}

@function gtkmix($c1,$c2,$r) {
  $ratio: 1 -  $r / 100%; // match SCSS mix()
  @return unquote("mix(#{$c1},#{$c2},#{$ratio})");
}

@function gtkshade($c,$s) {
  @return unquote("shade(#{$c},#{$s})");
}

@function gtkcolor($c) {
  @return unquote("@#{$c}");
}

// Color values are set here
@define-color window_bg_color #1c1d21;
@define-color window_fg_color #eeeeec;
@define-color view_bg_color #121317;
@define-color view_fg_color #ffffff;
@define-color accent_bg_color #4a90d9;
@define-color accent_fg_color #ffffff;
@define-color accent_color @accent_bg_color;
@define-color headerbar_bg_color #26272b;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_shade_color transparent;
@define-color popover_bg_color @headerbar_bg_color;
@define-color popover_fg_color @headerbar_fg_color;
@define-color dialog_bg_color @view_bg_color;
@define-color dialog_fg_color @view_fg_color;
@define-color card_bg_color @view_bg_color;
@define-color card_fg_color @view_fg_color;
@define-color sidebar_bg_color @headerbar_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0,0,0,0.25);
// These variables are the ones we use
$window_bg_color: gtkcolor(window_bg_color);
$window_fg_color: gtkcolor(window_fg_color);
$view_bg_color: gtkcolor(view_bg_color);
$view_fg_color: gtkcolor(view_fg_color);
$accent_bg_color: gtkcolor(accent_bg_color);
$accent_fg_color: gtkcolor(accent_fg_color);
$accent_color: gtkcolor(accent_color);
$headerbar_bg_color: gtkcolor(headerbar_bg_color);
$headerbar_backdrop_color: gtkcolor(headerbar_backdrop_color);
$headerbar_fg_color: gtkcolor(headerbar_fg_color);
$headerbar_shade_color: gtkcolor(headerbar_shade_color);
$popover_bg_color: gtkcolor(popover_bg_color);
$popover_fg_color: gtkcolor(popover_fg_color);
$dialog_bg_color: gtkcolor(dialog_bg_color);
$dialog_fg_color: gtkcolor(dialog_fg_color);
$card_bg_color: gtkcolor(card_bg_color);
$card_fg_color: gtkcolor(card_fg_color);
$sidebar_bg_color: gtkcolor(sidebar_bg_color);
$sidebar_fg_color: gtkcolor(sidebar_fg_color);
$sidebar_backdrop_color: gtkcolor(sidebar_backdrop_color);
$sidebar_shade_color: gtkcolor(sidebar_shade_color);

// Other variables for this theme
$button_radius: 0;
$border_color: gtkalpha(currentColor, .15);
$close_button: #a45f5f;

$button_normal_border: gtkalpha(currentColor, 0.1);
$button_checked_border: gtkalpha(currentColor, 0.2);
$button_inner_hover_border: $accent_color;
$button_outer_hover_border: gtkalpha($accent_color, 0.2);

$headerbar_height: 46px; // anything else will look strange on some libadwaita apps
$titlebutton_width: 20px;
$titlebutton_height: 20px;

%titlebuttons {
  min-width: $titlebutton_width;
  min-height: $titlebutton_height;
  padding: 0;

  &.close, &.maximize, &.minimize {
    background-color: transparent;
    transition-property: background-color;
    color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1.5px;
    box-shadow: none;
    border-color: transparent;

    > image {
      opacity: 0;
    }
  }

  &.maximize, &.minimize {
    &:hover {
      background-color: $accent_bg_color;
      box-shadow: none;
    }
  }

  &.close {
    background-image: url('assets/titlebutton-close.png');
    background-color: $close_button;

    &:hover {
      background-color: gtkshade($close_button, 1.1);
      box-shadow: none;
    }
  }

  &.maximize {
    background-image: url('assets/titlebutton-maximize.png');

    &:backdrop {
      &:hover {
        background-color: gtkshade($headerbar_backdrop_color, 1.2);
      }
    }
  }

  &.minimize {
    background-image: url('assets/titlebutton-minimize.png');

    &:backdrop {
      &:hover {
        background-color: gtkshade($headerbar_backdrop_color, 1.2);
      }
    }
  }
}

// Checks and radio buttons
check {
  border-radius: $button_radius;
}

// Switches
switch {
  &, slider { border-radius: 0; }
}
